<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
*{
background: #008080;
}
h1{
text-align:center;
color: pink;
font-size:45px;
}
div{
display: flex;
flex-direction: column;
justify-content: space-between;
}
form{
color:lightpink;
}
</style>
</head>
<body>
	<h1>DVD Library</h1>
	<hr>
	<div>
	<form action="./deleteDVD">
		Enter DVD title: <input type="text" name="title"><br><br>
		<input type="submit" value="Delete DVD">
		
	</form></div>
</body>
</html>