<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<style>
*{
background: #008080;
}
h1{
text-align:center;
color: pink;
font-size:45px;
}
div{
display: flex;
flex-direction: column;
justify-content: space-between;
}
a{
text-align: center;
color: lightpink;
text-decoration: none;
padding: 10px;
}
</style>
</head>
<body>
	<h1>DVD Library</h1>
	<hr>
	<div>
	<table border="1">
		<tr>
			<th>DVD ID</th>
			<th>Title</th>
			<th>MPAA Rating</th>
			<th>Director Name</th>
			<th>Studio</th>
			<th>User rating</th>
		</tr>
		<tr>
			<td th:text="${DVD.dvd_ID}"></td>
			<td th:text="${DVD.title}"></td>
			<td th:text="${DVD.MPAA_rating}"></td>
			<td th:text="${DVD.director_name}"></td>
			<td th:text="${DVD.studio}"></td>
			<td th:text="${DVD.user_rating}"></td>
		<tr>
	</table></div>
	<br><br>
	<div>
	<a href="/">Back To Main Page</a><br><br>
	<a href="./inputIdPage">Search for Another DVD</a></div>
</body>
</html>