<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>DVD Library</h1>
	<hr>
	<form action="./saveDVD" method="post">
	Enter DVD Id : <input type="text" name="dvd_ID"><br><br>
	Enter Title : <input type="text" name="title"><br><br>
	Enter MPAA rating : <input type="text" name="MPAA_rating"><br><br>
	Enter Directors Name : <input type="text" name="director_name"><br><br>
	Enter Studio : <input type="text" name="studio"><br><br>
	Enter User rating : <input type="text" name="user_rating"><br><br>
	<input type="submit" value="Save DVD">
	</form>
	<br><br>
	<a href="/">GoTo Main Page</a>
</body>
</html>